<div id="firstText" class="textContainer scrollContainer firstContainer" [style.height.px]="heightComponent" [class.fixed]="fixed" [style.top.px]="top" [class.rightFixed]="rightFixed" [class.leftFixed]="leftFixed">
        <h1 class="underline title">Title1</h1>      
        <app-konj #konj [inputHeight]="height/10*3" [inputWidth]="width/10*3" class="graph"></app-konj>

        <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error maiores quod necessitatibus eius esse? Quis molestias, nam quo sed dignissimos repudiandae consectetur doloribus. Porro et optio error beatae. Obcaecati!</p>
        <p class="text2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quam soluta, quidem cum vitae sapiente dolorem, nulla ipsum voluptatum, ab animi tenetur nostrum natus temporibus dolore consectetur maxime quas vel.</p>

        <app-scroll-arrow class="arrow"></app-scroll-arrow>
    
</div>