<div id="introText" class="textContainer scrollContainer" [style.height.px]="heightComponent" [class.fixed]="fixed" [style.top.px]="top" [class.rightFixed]="rightFixed" [class.leftFixed]="leftFixed">

    <div>
        <h1 class="underline">Konjuktursklocka</h1>
        <p>Syftet med konjunkturklockan är att på ett överskådligt sätt visa hur konjunkturen förändras över tid. Klockan består av 14 ekonomiska indikatorer som är kombinerade i ett system. Systemet gör det möjligt att analysera enskilda indikatorers utveckling genom att sätta dem i relation till andra. Samtidigt ger det en överblick av tillståndet i ekonomin som helhet. Det är framför allt det sistnämnda som är viktigt. Enskilda indikatorers rörelse bör tolkas med försiktighet. Huvudpoängen med konjunkturklockan är att visa hur indikatorerna rör sig som helhet.</p>
    </div>
    

    <p> Ett annat sätt att presentera indikatorernas konjunkturutveckling är att markera dem i ett koordinatsystem med fyra kvadranter. Se exemplet nedan som visar juni 2022.</p>

    <p>Den lodräta axeln i koordinatsystemet visar avvikelsen från den långsiktiga trenden och den vågräta axeln visar förändringen från föregående period (månad eller kvartal). Anledningen till att diagrammet kallas för konjunkturklocka är att indikatorerna (teoretiskt) rör sig ett varv i klockan under en konjunkturcykel. För att indikatorerna ska röra sig medurs är skalan omvänd på den vågräta axeln. Det innebär positiva värden i de två vänstra kvadranterna och negativa värden i de två högra kvadranterna.</p>
        
    <p>Indikatorernas rörelse kan liknas med en riktig klocka där klockan 12 motsvarar toppen på högkonjunkturen och klockan 6 motsvarar botten på lågkonjunkturen.</p>
</div>
